*{
	font-family: "Century Gothic";
	color: #fcefee;
}
#header{
	text-align:center;
}
#dados{
	width: 60%;
	position: relative;	
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	font-size: 14px;
}
.corpo{
	margin-left: 5%;
	text-align: justify;
	font-size: 14px;
}
#foto{
	border-radius: 10%;
	width: 200px;
	height: 200px;
}
iframe{
	width: 300px;
	height: 280px;
	padding: 5px;
	border-radius: 5%;
}
fieldset{
	size: 5px; 
	border: 2px dashed #a7584e;
}
h1{
	font-size: 32px;
	color: #aa5146;
}
h2{
	font-size: 20px;
	color: #bc5e52;
}
h3{
	font-size: 18px;
	color: #aa5146;
}
h4{
	font-size: 15px;
	color: #bc5e52;
}
li{
	font-size: 14px;
}
